Marketing Automation/Auto-post Blog to LinkedIn & X.json
{
  "name": "Auto-post Blog to LinkedIn & X",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@sumitkumar993618",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "9a9610e8-1531-4715-87e0-38b2439d7979",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi You are an blog summeriser who can summarise the blog and give us linkedin and twiter social media posts\n\nmake sure twitter post should be short because of charecter limit. Also give me description that i can use in nano banana to generate image for my post.\n\nDATA: \n{{ JSON.stringify($json.items[0]) }}\n\noutput should be in below format\n\n{\n\"linkedin_post\": \"\",\n\"twitter_post\": \"\",\n\"description_for_nano_banana\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "50f5323f-0ef0-443d-b296-358e95039075",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "4c9197e0-e85a-4807-8347-08d2a315d05a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4is91IE0lBpX1ptJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"linkedin_post\": \"\",\n  \"twitter_post\": \"\",\n  \"description_for_nano_banana\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "fd2d47e4-84e0-4240-ae27-09bcaffef1c7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "=A modern digital illustration representing:\n{{ $json.output.description_for_nano_banana }}\n\nStyle: flat + semi-realistic tech illustration  \nElements: laptops, dashboards, code snippets, cloud icons, AI symbols  \nBackground: clean workspace or abstract tech background  \nColors: blue, purple, white accents  \nMood: innovation, productivity, scalability  \nAspect ratio: 16:9  \nNo text, no watermark ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "3d890717-83d4-46a3-a430-62484b10a2b1",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "zoP1LBUxwZJMMpJ2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "350a04fc-5624-4daa-8145-b5b3fd720098",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ff86a31-ad95-4b81-ac6c-284ade4f8266",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c46e272a890a786a022f1682e7f00b9d7b84844adcb9c7f5f43d70380eee515f"
  },
  "id": "Ur42F46xjkzPgFfY",
  "tags": []
}